:root {
  --color-gray: rgb(146, 139, 139);
  --font-family: "Ubuntu", "Aria", sans-serif;
  --color-green: rgb(49, 126, 49);
  --color-red: rgb(160, 9, 9);
  --background-grey: rgb(242, 243, 247);
  --button-green-light: rgb(98, 174, 101);
  --button-green-dark: rgba(75, 152, 74, 1);
}

* {
  box-sizing: border-box;
}

.form-container {
  max-width: 90%;
  width: 350px;
  padding: 15px;
  margin: 50px auto;
  background-color: var(--background-grey);
  color: var(--color-gray);
  font-family: var(--font-family);
  text-align: center;
}

.form-container .input {
  margin-top: 15px;
  padding: 8px 10px;
  width: 100%;
  border: 2px solid var(--color-gray);
}

.form-container fieldset {
  border-top: 2px solid gray;
  margin: 0 auto;
}

.form-container legend {
  font-size: 22px;
  padding: 5px 15px;
  color: black;
}
.input::placeholder {
  color: var(--color-gray);
  font-family: var(--font-family);
  font-weight: 100;
}

.input:focus:invalid {
  border: 2px solid var(--color-red);
}

.input:focus:valid {
  border: 2px solid var(--color-green);
}

.names {
  display: flex;
  justify-content: space-between;
}

.first-name,
.last-name {
  max-width: 48%;
}

.terms-container {
  margin-top: 15px;
  text-align: initial;
  font-size: 15px;
}

.terms-label {
  vertical-align: text-top;
}

.register-btn {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background: var(--button-green-light);
  background: linear-gradient(
    180deg,
    var(--button-green-light) 0%,
    var(--button-green-dark) 100%
  );
  color: white;
  font-weight: bold;
}

.link {
  text-decoration: none;
  color: var(--button-green-light);
}

.link:hover {
  color: var(--button-green-dark);
}
