* {
  box-sizing: border-box;
}
body {
  display: flex;
}
input{
  margin-top: 15px;
}
.form-container {
  max-width: 90%;
  width: 320px;
  padding: 10px;
  margin: 50px auto;
  background-color: rgb(242, 243, 247);
  box-sizing: border-box;
}
.registration-form {
}
fieldset {
  border-top: 2px solid black;
  text-align: center;
  margin: 0 auto;
}
legend {
  font-size: 22px;
  text-align: center;
  padding: 5px 15px;
}
.fields {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}
.fields> input{
 
}

.names {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.terms{
  /* align-self: start; */
}
.first-name,
.last-name {
  max-width: 48%;
}

.width-100 {
  width: 100%;
}

.register-btn {
  display: block;
}
